# Final Project Phase II

## Research Question:
**Possible Ideas**\
The effect of GDP, Literacy Rate, unemployment, life expectnacy, urbanization, healthcare access percentage on mental health disorders \
Is there a corrleation between trends across different disorders?

Can we use the Human Development Index, life expectancy, population, GDP, unemployment rate, and urbanization rate from 1990-2020 to predict mental health rate in the future?

## Data Description:

Global Trends in Mental Health Disorders: https://www.kaggle.com/datasets/thedevastator/uncover-global-trends-in-mental-health-disorder

### Import Packages

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import duckdb

## Data Cleaning:
**Global Mental Health Disorders**: \
The original dataset contained NaNs and years going back to 9000 BCE for some regions. We dropped the NaN values and limited the dataset to years between 1990 and 2017. There were additional columns that only included values for very few countries, which we eliminated since it would have given us an uneven dataset.

In [3]:
##Read Datasets
#global mental health
global_mental_health_df = pd.read_csv('Mental health Depression disorder Data 2.csv')
global_mental_health_df.head()

/var/folders/7x/2j_pjlnj2v32g7jvxdd86np80000gn/T/ipykernel_30881/2536041144.py:3: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  global_mental_health_df = pd.read_csv('Mental health Depression disorder Data 2.csv')

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
0,0,Afghanistan,AFG,1990,0.16056,0.697779,0.101855,4.828830,1.677082,4.071831,0.672404
1,1,Afghanistan,AFG,1991,0.160312,0.697961,0.099313,4.829740,1.684746,4.079531,0.671768
2,2,Afghanistan,AFG,1992,0.160135,0.698107,0.096692,4.831108,1.694334,4.088358,0.670644
3,3,Afghanistan,AFG,1993,0.160037,0.698257,0.094336,4.830864,1.705320,4.096190,0.669738
4,4,Afghanistan,AFG,1994,0.160022,0.698469,0.092439,4.829423,1.716069,4.099582,0.669260

The original dataset included columns below each other such as "Prevalence in Males" and "Prevalence in Females" that included datapoints for only a few countries so we decided to drop the rows after the last instance of the last country. Additionally, some of the values in the Year column were string instances that had to be converted to numerics.

In [13]:
#drop all rows after Prevalence in males & females
global_mental_health_df = global_mental_health_df.iloc[:6468]

#convert year to numeric and limit dataset to between years 1990-2017
global_mental_health_df['Year'] = pd.to_numeric(global_mental_health_df['Year'])
global_mental_health_df = global_mental_health_df[(global_mental_health_df['Year'] >= 1990) & (global_mental_health_df['Year'] <= 2017)]

#drop rows with NaNs
global_mental_health_df = global_mental_health_df.dropna(subset=["Schizophrenia (%)", "Bipolar disorder (%)", "Eating disorders (%)", "Anxiety disorders (%)", "Drug use disorders (%)", "Depression (%)", \
                                                                "Alcohol use disorders (%)"])

### Life Expectancy, GDP, Population Data Import and Cleaning
Link to Dataset: https://www.kaggle.com/datasets/kumarajarshi/life-expectancy-who \
The original purpose of this dataset was compiled to predict for life expectancy and included many additional variables such as additional diseases, including Hepatitis B, measels, infant deaths. Before importing the csv file, We manually altered the file by deleting the columns that included the diseases and left only the life expectancy, adult and infant mortality rates, GDP, and Population data.

In [4]:
#load in life expectancy data
life_gdp_popn_df = pd.read_csv('1Life Expectancy Data, GPD, Popn.csv')
life_gdp_popn_df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

## HDI

### Data Description:

https://hdr.undp.org/data-center/documentation-and-downloads

In [5]:
#Import HDI data
hdi_df = pd.read_csv('1HDI rates.csv')
hdi_df.head()

#Data Cleaning

,iso3,country,hdicode,region,hdi_rank_2021,hdi_1990,hdi_1991,hdi_1992,hdi_1993,hdi_1994,...,hdi_2012,hdi_2013,hdi_2014,hdi_2015,hdi_2016,hdi_2017,hdi_2018,hdi_2019,hdi_2020,hdi_2021
0,AFG,Afghanistan,Low,SA,180.0,0.273,0.279,0.287,0.297,0.292,...,0.466,0.474,0.479,0.478,0.481,0.482,0.483,0.488,0.483,0.478
1,AGO,Angola,Medium,SSA,148.0,NaN,NaN,NaN,NaN,NaN,...,0.541,0.552,0.563,0.582,0.596,0.597,0.595,0.595,0.590,0.586
2,ALB,Albania,High,ECA,67.0,0.647,0.629,0.614,0.617,0.624,...,0.778,0.785,0.792,0.795,0.798,0.802,0.806,0.810,0.794,0.796
3,AND,Andorra,Very High,NaN,40.0,NaN,NaN,NaN,NaN,NaN,...,0.869,0.864,0.871,0.867,0.871,0.868,0.872,0.873,0.848,0.858
4,ARE,United Arab Emirates,Very High,AS,26.0,0.728,0.739,0.742,0.748,0.755,...,0.846,0.852,0.859,0.865,0.870,0.897,0.909,0.920,0.912,0.911

## Urbanization Rate

### Data Description:

https://www.kaggle.com/datasets/equinxx/urban-population-19602021-by-country

In [9]:
#Import Urbanization Rate data
urban_df = pd.read_csv('1urban_percent.csv')
urban_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,Urban population (% of total population),SP.URB.TOTL.IN.ZS,50.776000,50.761000,50.746000,50.730000,50.715000,50.700000,...,42.957000,42.990000,43.041000,43.108000,43.192000,43.293000,43.411000,43.546000,43.697000,NaN
1,Africa Eastern and Southern,AFE,Urban population (% of total population),SP.URB.TOTL.IN.ZS,14.704688,14.944459,15.185608,15.444414,15.719076,16.001992,...,33.071687,33.507548,33.952424,34.405084,34.865101,35.332373,35.807770,36.291322,36.783306,NaN
2,Afghanistan,AFG,Urban population (% of total population),SP.URB.TOTL.IN.ZS,8.401000,8.684000,8.976000,9.276000,9.586000,9.904000,...,24.160000,24.373000,24.587000,24.803000,25.020000,25.250000,25.495000,25.754000,26.026000,NaN
3,Africa Western and Central,AFW,Urban population (% of total population),SP.URB.TOTL.IN.ZS,14.670329,15.053577,15.449282,15.864021,16.294984,16.741361,...,42.901035,43.530704,44.157131,44.781373,45.401809,46.019334,46.633138,47.242853,47.848625,NaN
4,Angola,AGO,Urban population (% of total population),SP.URB.TOTL.IN.ZS,10.435000,10.798000,11.204000,11.624000,12.058000,12.504000,...,61.268000,62.002000,62.731000,63.446000,64.149000,64.839000,65.514000,66.177000,66.825000,NaN

In [ ]:
# #Data Cleaning

# List of years from 2000 to 2020
years_subset = [str(year) for year in range(2000, 2021)]

# Subset the DataFrame to include both the country name and the required columns
urbandf_subset = df[['Country'] + years_subset]

# Display the subset DataFrame
print(df_subset)

# # Check for NaN values
# nan_vals_exist = urban_df.isna().any().any()

# if nan_vals_exist:
#     print("There are NaN values in the dataset.")
# else:
#     print("No NaN values in the dataset.")

# rows_with_nan = df[df.isnull().any(axis=1)]

# print("Rows with NaN values:")
# print(rows_with_nan)

## Unemployment Rate

### Data Description:

https://www.kaggle.com/datasets/pantanjali/unemployment-dataset

In [7]:
#Import Unemployment Rate data
unemploy_df = pd.read_csv('1unemployment analysis.csv')
unemploy_df.head()

#Data Cleaning

,Country Name,Country Code,1991,1992,1993,1994,1995,1996,1997,1998,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Africa Eastern and Southern,AFE,7.80,7.84,7.85,7.84,7.83,7.84,7.86,7.81,...,6.56,6.45,6.41,6.49,6.61,6.71,6.73,6.91,7.56,8.11
1,Afghanistan,AFG,10.65,10.82,10.72,10.73,11.18,10.96,10.78,10.80,...,11.34,11.19,11.14,11.13,11.16,11.18,11.15,11.22,11.71,13.28
2,Africa Western and Central,AFW,4.42,4.53,4.55,4.54,4.53,4.57,4.60,4.66,...,4.64,4.41,4.69,4.63,5.57,6.02,6.04,6.06,6.77,6.84
3,Angola,AGO,4.21,4.21,4.23,4.16,4.11,4.10,4.09,4.07,...,7.35,7.37,7.37,7.39,7.41,7.41,7.42,7.42,8.33,8.53
4,Albania,ALB,10.31,30.01,25.26,20.84,14.61,13.93,16.88,20.05,...,13.38,15.87,18.05,17.19,15.42,13.62,12.30,11.47,13.33,11.82

## Exploratory Data Analysis

## Data Limitations
The global mental health disorders dataset contains categories that may overlap, since mental health disorders are not mutually exclusive. For instance, people with anxiety can also have depression.

In [ ]:
#Creates a line chart grouped by country for each disease across time
def line_plot(df, country):
    country_df = df[df['Entity'] == country]
    
    for column in df.columns[4:]:
        plt.plot(country_df['Year'], country_df[column], label=column)

    plt.xlabel('Year')
    plt.ylabel('Percent Affected')
    plt.title(f'Time Series of Mental Disorders in {country}')
    plt.legend(loc='best')
    plt.grid()
    plt.show()

In [ ]:
line_plot(global_mental_health_df, 'Albania')
line_plot(global_mental_health_df, 'France')

In [ ]:
#Create a line chart that groups by mental disorders across different countries
def line_plot(df, disorder):
    country_df = df[df.column == disorder]
    
    for column in df.columns[4:]:
        plt.plot(country_df['Year'], country_df[column], label=column)

    plt.xlabel('Year')
    plt.ylabel('Percent Affected')
    plt.title('Time Series of Mental Disorders')
    plt.legend(loc='best')  # Add a legend
    plt.grid(True)
    plt.show()

In [ ]:
line_plot(global_mental_health_df, 'Albania')