# Final Project Phase II

## Research Question:
**Possible Ideas**\
The effect of GDP, Literacy Rate, unemployment, life expectnacy, urbanization, healthcare access percentage on mental health disorders \
Is there a corrleation between trends across different disorders?

Can we use the Human Development Index, life expectancy, population, GDP, unemployment rate, and urbanization rate from 1990-2020 to predict mental health rate in the future?

## Data Description:

Global Trends in Mental Health Disorders: https://www.kaggle.com/datasets/thedevastator/uncover-global-trends-in-mental-health-disorder

### Import Packages

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import duckdb

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

## Data Cleaning:
**Global Mental Health Disorders**: \
The original dataset contained NaNs and years going back to 9000 BCE for some regions. We dropped the NaN values and limited the dataset to years between 1990 and 2017. There were additional columns that only included values for very few countries, which we eliminated since it would have given us an uneven dataset.

In [48]:
def checkType(df, column, datatype):
    if df[column].dtype
def checkNans(df):
    nan_vals_exist = df.isna().any().any()

    if nan_vals_exist:
        print("There are NaN values in the dataset.")
        df = df.dropna()
        checkNans(df)
    else:
        print("No NaN values in the dataset.")

SyntaxError: expected ':' (2521555921.py, line 2)

In [41]:
##Read Datasets
#global mental health
global_mental_health_df = pd.read_csv('Mental health Depression disorder Data 2.csv')
global_mental_health_df.head()

/var/folders/q0/gmnvmdrj3930x744fzx2vrqm0000gn/T/ipykernel_11548/2536041144.py:3: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  global_mental_health_df = pd.read_csv('Mental health Depression disorder Data 2.csv')

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
0,0,Afghanistan,AFG,1990,0.16056,0.697779,0.101855,4.828830,1.677082,4.071831,0.672404
1,1,Afghanistan,AFG,1991,0.160312,0.697961,0.099313,4.829740,1.684746,4.079531,0.671768
2,2,Afghanistan,AFG,1992,0.160135,0.698107,0.096692,4.831108,1.694334,4.088358,0.670644
3,3,Afghanistan,AFG,1993,0.160037,0.698257,0.094336,4.830864,1.705320,4.096190,0.669738
4,4,Afghanistan,AFG,1994,0.160022,0.698469,0.092439,4.829423,1.716069,4.099582,0.669260

The original dataset included columns below each other such as "Prevalence in Males" and "Prevalence in Females" that included datapoints for only a few countries so we decided to drop the rows after the last instance of the last country. Additionally, some of the values in the Year column were string instances that had to be converted to numerics.

In [40]:
#drop all rows after Prevalence in males & females
global_mental_health_df = global_mental_health_df.iloc[:6468]

#convert year to numeric and limit dataset to between years 1990-2017
global_mental_health_df['Year'] = pd.to_numeric(global_mental_health_df['Year'])
global_mental_health_df = global_mental_health_df[(global_mental_health_df['Year'] >= 1990) & (global_mental_health_df['Year'] <= 2017)]

#drop rows with NaNs
global_mental_health_df = checkNans(global_mental_health_df)

There are NaN values in the dataset.
No NaN values in the dataset.

### Life Expectancy, GDP, Population Data Import and Cleaning
Link to Dataset: https://www.kaggle.com/datasets/kumarajarshi/life-expectancy-who \
The original purpose of this dataset was compiled to predict for life expectancy and included many additional variables such as additional diseases, including Hepatitis B, measels, infant deaths. Before importing the csv file, We manually altered the file by deleting the columns that included the diseases and left only the life expectancy, adult and infant mortality rates, GDP, and Population data.

In [42]:
#load in life expectancy data
life_gdp_df = pd.read_csv('1Life Expectancy Data, GPD, Popn.csv')
life_gdp_df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [43]:
# #Data Cleaning

columns_to_keep=['Country', 'Year', 'Life expectancy ', 'GDP']

# Subset the DataFrame to include the country, year, life expectancy, population, and GDP
life_gdp_df = life_gdp_df[columns_to_keep]

# Display the subset DataFrame
life_gdp_df.head()

       Country  Year  Life expectancy          GDP
0  Afghanistan  2015              65.0  584.259210
1  Afghanistan  2014              59.9  612.696514
2  Afghanistan  2013              59.9  631.744976
3  Afghanistan  2012              59.5  669.959000
4  Afghanistan  2011              59.2   63.537231

In [46]:
# Check for NaN values
life_gdp_df = checkNans(life_gdp_df)

AttributeError: 'NoneType' object has no attribute 'isna'

## HDI

### Data Description:

https://hdr.undp.org/data-center/documentation-and-downloads

In [ ]:
#Import HDI data
hdi_df = pd.read_csv('1HDI rates.csv')
hdi_df.head()

In [ ]:
#renaming column names
hdi_df = hdi_df.drop('hdi_rank_2021', axis=1)
for column in hdi_df.columns:
    if column.startswith("hdi_"):
        new_column_name = column[4:]
        hdi_df.rename(columns={column: new_column_name}, inplace=True)
hdi_df.head()

In [ ]:
# List of years from 2000 to 2015
years_subset = [str(year) for year in range(2000, 2016)]

# Subset the DataFrame to include both the country name and the required columns
hdi_df_subset = hdi_df[['country'] + years_subset]

# Display the subset DataFrame
hdi_df_subset.head()

In [ ]:
# Check for NaN values
nan_vals_exist = hdi_df_subset.isna().any().any()

if nan_vals_exist:
    print("There are NaN values in the dataset.")
else:
    print("No NaN values in the dataset.")

rows_with_nan = hdi_df_subset[hdi_df_subset.isnull().any(axis=1)]

print("Rows with NaN values:")
print(rows_with_nan)

In [ ]:
#Remove NaN values
hdi_df_clean = hdi_df_subset.dropna()
hdi_df_clean.head()

## Urbanization Rate

### Data Description:

Collected Urbanization dataset from Kaggle. Excluded unnecessary columns, including "Country Code", "Indicator Name", and "Indicator Code". Refined the dataset to contain only the years between 2000 and 2015. Additionally, we checked for missing values within the dataset and removed rows that contained these NAN values.

https://www.kaggle.com/datasets/equinxx/urban-population-19602021-by-country

In [ ]:
#Import Urbanization Rate data
urban_df = pd.read_csv('1urban_percent.csv')
urban_df.head()

In [ ]:
# #Data Cleaning

# List of years from 2000 to 2015
years_subset = [str(year) for year in range(2000, 2016)]

# Subset the DataFrame to include both the country name and the required columns
urban_df_subset = urban_df[['Country Name'] + years_subset]

# Display the subset DataFrame
urban_df_subset.head()

In [ ]:
# Check for NaN values
nan_vals_exist = urban_df_subset.isna().any().any()

if nan_vals_exist:
    print("There are NaN values in the dataset.")
else:
    print("No NaN values in the dataset.")

rows_with_nan = urban_df_subset[urban_df_subset.isnull().any(axis=1)]

print("Rows with NaN values:")
print(rows_with_nan)

In [ ]:
#Remove NaN values
urban_df_clean = urban_df_subset.dropna()
urban_df_clean.head()

## Unemployment Rate

### Data Description:

Collected the dataset from kaggle. Took off the "country code" colunm and limited the year to 2000 to 2015. Afterwards, we checked that the dataset doesn't contain any NAN values. 

https://www.kaggle.com/datasets/pantanjali/unemployment-dataset

In [16]:
#Import Unemployment Rate data
unemploy_df = pd.read_csv('1unemployment analysis.csv')
unemploy_df.head()

,Country Name,Country Code,1991,1992,1993,1994,1995,1996,1997,1998,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Africa Eastern and Southern,AFE,7.80,7.84,7.85,7.84,7.83,7.84,7.86,7.81,...,6.56,6.45,6.41,6.49,6.61,6.71,6.73,6.91,7.56,8.11
1,Afghanistan,AFG,10.65,10.82,10.72,10.73,11.18,10.96,10.78,10.80,...,11.34,11.19,11.14,11.13,11.16,11.18,11.15,11.22,11.71,13.28
2,Africa Western and Central,AFW,4.42,4.53,4.55,4.54,4.53,4.57,4.60,4.66,...,4.64,4.41,4.69,4.63,5.57,6.02,6.04,6.06,6.77,6.84
3,Angola,AGO,4.21,4.21,4.23,4.16,4.11,4.10,4.09,4.07,...,7.35,7.37,7.37,7.39,7.41,7.41,7.42,7.42,8.33,8.53
4,Albania,ALB,10.31,30.01,25.26,20.84,14.61,13.93,16.88,20.05,...,13.38,15.87,18.05,17.19,15.42,13.62,12.30,11.47,13.33,11.82

In [17]:
# #Data Cleaning

# List of years from 2000 to 2015
years_subset = [str(year) for year in range(2000, 2016)]

# Subset the DataFrame to include both the country name and the required columns
unemploy_df_subset = unemploy_df[['Country Name'] + years_subset]

# Display the subset DataFrame
unemploy_df_subset.head()

,Country Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Africa Eastern and Southern,7.72,7.73,7.96,7.79,7.31,7.12,6.99,6.74,6.27,6.32,6.87,6.75,6.56,6.45,6.41,6.49
1,Afghanistan,10.81,10.81,11.26,11.14,10.99,11.22,11.10,11.30,11.09,11.31,11.35,11.05,11.34,11.19,11.14,11.13
2,Africa Western and Central,4.92,4.87,4.78,4.75,4.73,4.73,4.65,4.63,4.60,4.58,4.55,4.55,4.64,4.41,4.69,4.63
3,Angola,4.03,4.00,3.96,3.96,3.92,3.88,3.86,3.82,3.79,3.78,9.43,7.36,7.35,7.37,7.37,7.39
4,Albania,19.03,18.58,17.90,16.99,16.31,15.97,15.63,15.97,13.06,13.67,14.09,13.48,13.38,15.87,18.05,17.19

In [18]:
# Check for NaN values
nan_vals_exist = unemploy_df_subset.isna().any().any()

if nan_vals_exist:
    print("There are NaN values in the dataset.")
else:
    print("No NaN values in the dataset.")

rows_with_nan = unemploy_df_subset[unemploy_df_subset.isnull().any(axis=1)]

print("Rows with NaN values:")
print(rows_with_nan)

No NaN values in the dataset.
Rows with NaN values:
Empty DataFrame
Columns: [Country Name, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015]
Index: []

## Exploratory Data Analysis

## Data Limitations
The global mental health disorders dataset contains categories that may overlap, since mental health disorders are not mutually exclusive. For instance, people with anxiety can also have depression.

In [ ]:
#Creates a line chart grouped by country for each disease across time
def line_plot(df, country):
    country_df = df[df['Entity'] == country]
    
    for column in df.columns[4:]:
        plt.plot(country_df['Year'], country_df[column], label=column)

    plt.xlabel('Year')
    plt.ylabel('Percent Affected')
    plt.title(f'Time Series of Mental Disorders in {country}')
    plt.legend(loc='best')
    plt.grid()
    plt.show()

In [ ]:
line_plot(global_mental_health_df, 'Albania')
line_plot(global_mental_health_df, 'France')

In [ ]:
#Create a line chart that groups by mental disorders across different countries
def line_plot(df, disorder):
    country_df = df[df.column == disorder]
    
    for column in df.columns[4:]:
        plt.plot(country_df['Year'], country_df[column], label=column)

    plt.xlabel('Year')
    plt.ylabel('Percent Affected')
    plt.title('Time Series of Mental Disorders')
    plt.legend(loc='best')  # Add a legend
    plt.grid(True)
    plt.show()

In [ ]:
line_plot(global_mental_health_df, 'Albania')